.driverinfo {
    list-style-type: none;
    width: 500px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }


li {
    padding-top: 20%;
    margin: 10px 0;
    text-align: center;    
}


h1 {
    text-align: center;
}